/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    combos { compatible = "zmk,combos"; };

    macros {
        first: first {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(A)>;
            label = "FIRST";
        };

        second: ao {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(U) &kp O>;
            label = "SECOND";
        };

        third: oa {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(U) &kp A>;
            label = "THIRD";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB    &kp Q  &kp W  &kp E         &kp R     &kp T    &kp BACKSPACE  &kp Y      &kp U  &kp I   &kp O   &kp P
&kp SPACE  &kp A  &kp S  &kp D         &kp F     &kp G    &kp COMMA      &kp H      &kp J  &kp K   &kp L   &second
&kp LSHFT  &kp Z  &kp X  &kp C         &kp V     &kp B    &kp PERIOD     &kp N      &kp M  &first  &third  &kp RIGHT_CONTROL
                         &kp LEFT_ALT  &kp LGUI  &to 1    &kp RET        &kp SPACE  &mo 2
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB    &kp EXCL     &kp AT  &kp HASH       &kp AMPERSAND  &kp DOLLAR          &kp BACKSPACE      &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &none
&kp LCTRL  &kp PERCENT  &none   &kp COLON      &kp EQUAL      &kp GREATER_THAN    &kp DOUBLE_QUOTES  &kp LEFT_BRACE    &kp RIGHT_BRACE    &kp SLASH             &kp BSLH               &kp GRAVE
&kp LSHFT  &kp ESC      &none   &kp SEMICOLON  &kp ASTERISK   &kp LESS_THAN       &kp SINGLE_QUOTE   &kp MINUS         &kp PLUS           &kp QUESTION          &kp PIPE               &kp TILDE
                                &kp LEFT_ALT   &kp LGUI       &to 2               &kp RET            &kp SPACE         &mo 0
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB     &kp N1        &kp N2        &kp N3        &kp N4        &kp N5          &kp BACKSPACE  &kp NUMBER_6  &kp NUMBER_7    &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &kp LEFT       &kp UP_ARROW  &kp DOWN_ARROW  &kp RIGHT     &none         &none
&kp LSHFT   &kp ESC       &none         &none         &none         &none           &none          &none         &none           &none         &none         &none
                                        &kp LEFT_ALT  &kp LGUI      &to 0           &kp RET        &kp SPACE     &none
            >;
        };
    };
};
